.Logoimg{
    height: 100px;
    width: 100px;
}
.First_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
    border: solid 0.5px;
    width: 30%;
    padding: 20px;
    margin-left: 35%;
}
.Form_inp{
     height: 30px;
     width: 50%;
}
.Tableclass{
    border: solid 0.5px;
    padding: 20px;
    margin: 50px;
    margin-left: 35%;
}
.Tableclass th,td{
    border: solid 0.5px;
}