.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* *********************************newdiv************************************* */
.Navdiv{
  width: 56%;
  background-color: rgba(137, 43, 226, 0.616);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.Navimg{
  height: 50px;
  width: 50px;
}





.Newdiv{
   background:linear-gradient(to right ,black, purple);
   width: 50%;
   color: aliceblue;
   padding: 50px;
}
.Logo-app{
  width: 250px;
  height: 250px;
  animation-name: Ani1;
  animation-duration: 0.4s;
  /* animation-delay: 2s; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction:normal;
}
/* .Logo-app:hover{
  transform: rotate(360deg);
} */

.App-img{
  width: 250px;
  height: 250px;
}





@keyframes Ani1{
      0%{
        transform: rotate(0deg);
        /* background-color: rgb(204, 0, 255); */
        border-radius: 50%;
      }
      
      100%{
        transform: rotate(360deg);
        /* background-color: rgb(0, 38, 255); */
        border-radius: 50%;
      }
}


/* *************************************************************************************** */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
